name: Build RPi TG Bot

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build ARM64
        run: |
          GOOS=linux GOARCH=arm64 go build -o rpi-bot

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: rpi-bot
          path: rpi-bot
